<!DOCTYPE html>
{% extends 'polls/base.html' %}
<html lang="en">

<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   {% block content %}
   <h2>{{ message }} </h2>
    <form method="post" action={% url 'polls:newquestion' %} >
        {% csrf_token %}
        <p>
        {% if form.errors %}
        
            {{ form.errors }}
        
        {% endif %}
        </p>
        {% comment %} {{ form.as_p}} {% endcomment %}
        {{ form.question_text.label_tag }}{{ form.question_text }}
        <br/>
        {{form.pub_date.label_tag}}{{ form.pub_date }}
        
    <input type="submit" value="send"/>
    </form>
    {% endblock %}
</body>
</html>

